@import "../layout-global.less";


.layout-header {
  z-index: 1000;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background: @custom-header-light-bg-color;  // #d9d9d9

}



